{{#if loggedIn}}
{{#each events as |event|}}
<section class="events">
  <div class="events">
    <h3 id="eventName" class="events">Name: {{event.event_name}}</h3>
    <p id="eventDate" class="events">Date: {{event.event_date}}</p>
    <p id="eventLoco" class="events">Location: {{event.event_location}}</p>
    <p id="eventDesc" class="events">Description: {{event.event_description}}</p>
  </div>
</section>
{{/each}}
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}
